<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IronSpirits</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
    </head>
    
    <body>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="./about">About</a>
                </li>
                <li>
                    <a href="./contact">Contact</a>
                </li>
            </ul>
        </nav>
        <h1>About us</h1>
        <img src="./images/13669162_10153929811497874_4740071409137975587_n.jpg" alt="lads in an elevator." />
        <p>We're a great place to work</p>
    </body>
    
    </html>