body{
    background: magenta;
    text-align: center;
    margin: 0 auto;
}



nav{
    background: blue;
}

nav ul{
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    padding: 20px;
    font-size: 28px;
}

img{
    max-width: 50vw;
}

ul {
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

li{
    font-size: 20px;
    text-align: center;
    margin-left: 10px;
    list-style: none;
}



a:hover {
    text-decoration: underline;
    color: grey;
}

a {
    text-decoration: none;
    color: black;
} 

nav a {
    color: white;
}
